/**
  |============================
  | Common styles
  |============================
*/
:root {
  --branded-color: #434455;
  --brand-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-cloud-color: #f4f4fd;
  --hero-background-color: #2e2f42;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

/**
  |============================
  | Reset
  |============================
*/
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**
  |============================
  | Header style
  |============================
*/

.header-logo {
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.header {
  border-bottom: 1px solid var(--accent-color);
  margin-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-ul {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}

.header-address {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo-studio {
  color: var(--hero-background-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.header-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-background-color);
  text-decoration: none;
}

.header-studio:hover,
.header-studio:focus {
  color: var(--pressed-state-color);
}

.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--branded-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}

/**
  |============================
  | Main styles
  |============================
*/

.hero-font {
  color: var(--brand-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  color: var(--brand-color);
  background-color: var(--primary-brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-container {
  background-color: var(--hero-background-color);
  width: 1440px;
  height: 600px;
  margin-bottom: 92px;
  text-align: center;
  padding: 188px 472px 292px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

.strategy-cont {
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.doing-container {
  padding-bottom: 120px;
}

.section-second {
  padding: 120px 0;
}

.team-container {
  background-color: var(--light-cloud-color);
  width: 1440px;
  height: 732px;
  padding: 120px 0;
}

.doing-cont {
  display: flex;
  gap: 24px;
  width: calc((100% - 48px) / 3);
}

.team-cont {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 120px;
}

.list {
  list-style: none;
}

.sectionn-list {
  color: var(--hero-background-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.textt-list {
  color: var(--branded-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.section-tittle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background-color);
  text-decoration: none;
  margin-bottom: 72px;
}

.section-third {
  padding-bottom: 120px;
}

.name-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background-color);
  margin-bottom: 8px;
}

.posission-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--branded-color);
}

.backteam-list {
  background-color: var(--brand-color);
}

.visually-hidden {
  visibility: hidden;
  margin-bottom: 8px;
}

.name-position {
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px;
  text-align: center;
  margin-bottom: 8px;
}

.block-list {
  display: block;
}

/**
  |============================
  | Footer styles
  |============================
*/

.footer-logo {
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-container {
  width: 1440px;
  height: 312px;
  background-color: var(--hero-background-color);
  padding: 100px 0;
  padding-left: 156px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-cloud-color);
  width: 264px;
}

.footer-studio {
  color: var(--light-cloud-color);
}

/**
  |============================
  | Portfolio-styles
  |============================
*/

.mainclass {
  padding-top: 96px;
  padding-bottom: 120px;
}

.all-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-cloud-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border: 1px solid transparent;
  border-radius: 4px;
}

.all-list:hover,
.all-list:focus {
  color: var(--brand-color);
  background-color: var(--pressed-state-color);
}
.menu-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.photo-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.head-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: left;
}

.section-maintext {
  color: var(--hero-background-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 8px;
}

.section-text {
  color: var(--branded-color);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.port-backphoto {
  background-color: var(--brand-color);
}

.link {
  text-decoration: none;
}
